@model ESP32.Models.Dispositivo @{ ViewData["Title"] = "Editar dispositivo"; }

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
  
<body>
    <div class="container">
        <div id="map"></div>
        <div class="container-cadastro">
            <h1>Editar Dispositivo</h1>
            <form asp-controller="Principal" asp-action="SalvarDispositivo" method="post">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="@Model.nome" required>
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" name="latitude" step="0.000000000000001" value="@Model.latitude" required>
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" name="longitude" step="0.000000000000001" value="@Model.longitude" required>
                <label for="clienteID">Cliente ID</label>
                <input type="text" id="clienteID" name="clienteID" value="@Model.clienteID" required>
                <label for="servidor">Servidor</label>
                <input type="text" id="servidor" name="servidor" value="@Model.servidor" required>
                <label for="porta">Porta</label>
                <input type="number" id="porta" name="porta" value="@Model.porta" required>
                <label for="topico">Tópico</label>
                <input type="text" id="topico" name="topico" value="@Model.topico" required>
                <button type="submit" class="btn-cadastro">Enviar</button>
            </form>

        </div>
    </div>

    <script>
        var latitude = document.getElementById('latitude');
        var longitude = document.getElementById('longitude');

        //-27.06755754208858, -48.88523373438182
        // Inicializa o mapa e define a visualização inicial
        var map = L.map('map').setView([-27.06755754208858, -48.88523373438182], 18); // Coordenadas para São Paulo, Brasil

        // Adiciona uma camada de mapa (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Evento de clique no mapa para capturar coordenadas
        map.on('click', function (e) {
            latitude.value = e.latlng.lat;
            longitude.value = e.latlng.lng;

            // Você pode enviar estas coordenadas para o seu servidor ou armazená-las conforme necessário
        });
    </script>


</body>

</html>