@model ESP32.Models.Dispositivo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Dados</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
                display: block;
                margin-bottom: 5px;
        }

        .form-group input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
        }

        .form-group button {
                padding: 10px 15px;
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
        }

        .form-group button:hover {
                    background-color: #45a049;
        }

        #map {
            height: 600px;
        }
    </style>
</head>
<body>

    <h1>Preencher Dados</h1>
    <form asp-controller="Principal" asp-action="SalvarDispositivo" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" value="@Model.nome" required>
        </div>
        <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="number" id="latitude" name="latitude" step="0.000000000000001" value="@Model.latitude" required>
        </div>
        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="number" id="longitude" name="longitude" step="0.000000000000001" value="@Model.longitude" required>
        </div>
        <div class="form-group">
            <label for="clienteID">Cliente ID</label>
            <input type="text" id="clienteID" name="clienteID" value="@Model.clienteID" required>
        </div>
        <div class="form-group">
            <label for="servidor">Servidor</label>
            <input type="text" id="servidor" name="servidor" value="@Model.servidor" required>
        </div>
        <div class="form-group">
            <label for="porta">Porta</label>
            <input type="number" id="porta" name="porta" value="@Model.porta" required>
        </div>
        <div class="form-group">
            <label for="topico">Tópico</label>
            <input type="text" id="topico" name="topico" value="@Model.topico" required>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>

    <div id="map"></div>

    <script>
        
        var latitude = document.getElementById('latitude');
        var longitude = document.getElementById('longitude');

        //-27.06755754208858, -48.88523373438182
        // Inicializa o mapa e define a visualização inicial
        var map = L.map('map').setView([-27.06755754208858, -48.88523373438182], 18); // Coordenadas para São Paulo, Brasil

        // Adiciona uma camada de mapa (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Evento de clique no mapa para capturar coordenadas
        map.on('click', function (e) {
            latitude.value = e.latlng.lat;
            longitude.value = e.latlng.lng;

            // Você pode enviar estas coordenadas para o seu servidor ou armazená-las conforme necessário
        });
    </script>


</body>
</html>
